[Unit]
After=basic.target
Description=bwbots ROS

[Service]
Type=oneshot
User=bwbots
Group=bwbots
RemainAfterExit=yes
ExecStart=/usr/local/bin/run_containers /home/bw/bwbots-beer-caddy/docker/jetson
ExecStop=/usr/local/bin/stop_container /home/bw/bwbots-beer-caddy/docker/jetson

[Install]
WantedBy=multi-user.target

