<launch>
    <arg name="map_path"           default="map.yaml"/>
    <arg name="amcl_config"        default=""/>
    <arg name="laser_scan_topic"   default="/laser/scan"/>
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(arg amcl_config)" command="load"/>
        <remap from="scan" to="$(arg laser_scan_topic)"/>
    </node>
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg map_path)"/>
</launch>
