<launch>
    <arg name="waypoints_path" default="$(find bw_waypoints)/waypoints/$(env ROS_MAP_NAME)"/>
    <group ns="bw" >
        <node name="bw_waypoints" pkg="bw_waypoints" type="bw_waypoints_node.py" output="screen" required="false">
            <param name="waypoints_path" value="$(arg waypoints_path)"/>
        </node>
    </group>
</launch>
