<launch>
    <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
    <arg name="node_namespace" default="apriltag" />

    <arg name="throttle_rate" default="10" />

    <arg name="image_topic" default="image_raw" />
    <arg name="info_topic" default="camera_info" />

    <arg name="image_throttle_topic" default="$(arg image_topic)_throttle" />
    <arg name="info_throttle_topic" default="$(arg info_topic)_throttle" />


    <node type="throttle" name="$(arg node_namespace)_camera_image_topic_throttle" pkg="topic_tools" required="false" output="screen"
        args="messages $(arg image_topic) $(arg throttle_rate) $(arg image_throttle_topic)"/>
    <node type="throttle" name="$(arg node_namespace)_camera_info_topic_throttle" pkg="topic_tools" required="false" output="screen"
        args="messages $(arg info_topic) $(arg throttle_rate) $(arg info_throttle_topic)"/>

    <group ns="$(arg node_namespace)">
        <rosparam command="load" file="$(find bw_tags)/config/apriltag/settings.yaml" ns="apriltag" />
        <rosparam command="load" file="$(find bw_tags)/config/apriltag/tags.yaml" ns="apriltag" />

        <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag" clear_params="true" required="false" output="screen" launch-prefix="$(arg launch_prefix)" >
            <remap from="camera_info" to="$(arg info_throttle_topic)" />
            <remap from="image_rect" to="$(arg image_throttle_topic)" />

            <param name="remove_duplicates" type="bool" value="false" />
            <param name="publish_tag_detections_image" type="bool" value="true" />
        </node>
    </group>
</launch>
