<launch>
    <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
    <arg name="node_namespace" default="apriltag_ros_continuous_node" />
    <arg name="camera_frame" default="camera_link" />

    <arg name="throttle_rate" default="5" />

    <arg name="image_topic" default="image_raw" />
    <arg name="info_topic" default="camera_info" />

    <arg name="image_throttle_topic" default="$(arg image_topic)_throttle" />
    <arg name="info_throttle_topic" default="$(arg info_topic)_throttle" />


    <node type="throttle" name="$(arg node_namespace)_camera_image_topic_throttle" pkg="topic_tools" required="false" output="screen"
        args="messages $(arg image_topic) $(arg throttle_rate) $(arg image_throttle_topic)"/>
    <node type="throttle" name="$(arg node_namespace)_camera_info_topic_throttle" pkg="topic_tools" required="false" output="screen"
        args="messages $(arg info_topic) $(arg throttle_rate) $(arg info_throttle_topic)"/>

    <!-- Set parameters -->
    <group ns="$(arg node_namespace)">
        <rosparam command="load" file="$(find bw_tags)/config/apriltag/settings.yaml" ns="apriltag" />
        <rosparam command="load" file="$(find bw_tags)/config/apriltag/tags.yaml" ns="apriltag" />

        <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag" clear_params="true" required="false" output="screen" launch-prefix="$(arg launch_prefix)" >
            <!-- Remap topics from those used in code to those on the ROS network -->
            <remap from="camera_info" to="$(arg info_throttle_topic)" />
            <remap from="image_rect" to="$(arg image_throttle_topic)" />

            <param name="camera_frame" type="str" value="$(arg camera_frame)" />
            <param name="remove_duplicates" type="bool" value="false" />
            <param name="publish_tag_detections_image" type="bool" value="true" />
        </node>
    </group>

    <!-- <node pkg="tf" type="static_transform_publisher" name="tag_to_rotated_pos" args="0.0 0.0 0.0 -0.5 0.5 0.5 0.5 charge_dock_tag charge_dock_tag_rotated 30" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tag_to_start_pos" args="-0.1764 0.0 -0.2611 0 0 0 1 charge_dock_tag_rotated charge_dock_goal 30" /> -->
</launch>
