<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="config_path" default="$(find bw_bringup)/config/robeert/load_cell.yaml"/>
    <group ns="bw">
        <group ns="load_cell">
            <node name="bw_load_cell" pkg="bw_load_cell" type="bw_load_cell" output="screen" required="false" respawn="true">
                <rosparam command="load" file="$(arg config_path)" />
                <param name="device_baud" value="115200"/>
                <param name="last_read_timeout" value="15.0"/>
            </node>
        </group>
    </group>
</launch>
