<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_alot"
       args="record -o /root/bags/alot
       /amcl_pose
       /apriltag/filtered_tag_detections
       /bw/are_motors_enabled
       /bw/charger
       /bw/cmd_vel
       /bw/cmd_vel_nav
       /bw/cmd_vel_teleop
       /bw/joint/base_link_to_module_1_joint
       /bw/joint/base_link_to_module_2_joint
       /bw/joint/base_link_to_module_3_joint
       /bw/joint/base_link_to_module_4_joint
       /bw/load_cell/mass
       /bw/load_cell/packet_count
       /bw/load_cell/packet_rate
       /bw/load_cell/ping
       /bw/moving_goal
       /bw/odom
       /bw/odom/filtered
       /bw/packet_count
       /bw/packet_rate
       /bw/ping
       /bw/set_motors_enabled
       /bw/waypoints
       /initialpose
       /laser/scan
       /map
       /map_metadata
       /map_updates
       /move_base/DWAPlannerROS/local_plan
       /move_base/GlobalPlanner/plan
       /move_base/GlobalPlanner/potential
       /move_base/TebLocalPlannerROS/global_plan
       /move_base/TebLocalPlannerROS/local_plan
       /move_base/TebLocalPlannerROS/obstacles
       /move_base/TebLocalPlannerROS/teb_feedback
       /move_base/TebLocalPlannerROS/teb_markers
       /move_base/TebLocalPlannerROS/teb_poses
       /move_base/TebLocalPlannerROS/via_points
       /move_base/cancel
       /move_base/current_goal
       /move_base/feedback
       /move_base/global_costmap/costmap
       /move_base/global_costmap/costmap_updates
       /move_base/global_costmap/footprint
       /move_base/goal
       /move_base/local_costmap/costmap
       /move_base/local_costmap/costmap_updates
       /move_base/local_costmap/footprint
       /move_base/recovery_status
       /move_base/result
       /move_base/status
       /move_base_simple/goal
       /move_base_simple/waypoints
       /set_pose
       /standalone_converter/costmap_obstacles
       /standalone_converter/costmap_polygon_markers
       /standalone_converter/parameter_descriptions
       /standalone_converter/parameter_updates
       /tf
       /tf_static
       /zed/imu/data
       /zed/obj_det/yolo_objects
       " />
</launch>
