<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_laser"
       args="record -o /home/nvidia/bags/laser
            /bw/odom
            /laser/scan
            /bw/ping
            /bw/cmd_vel
            /bw/joint/base_link_to_module_1_joint
            /bw/joint/base_link_to_module_2_joint
            /bw/joint/base_link_to_module_3_joint
            /bw/joint/base_link_to_module_4_joint
            /bw/module
            /zed/imu/data
            " />
</launch>
