<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="use_kalman" default="true"/>

    <include file="$(find bw_description)/launch/bw_description.launch"/>
    <include file="$(find bw_tunnel)/launch/bw_tunnel.launch">
        <arg name="publish_odom_tf" value="$(eval not use_kalman)"/>
    </include>
    <include file="$(find bw_load_cell)/launch/bw_load_cell.launch"/>
    <include file="$(find bw_rplidar)/launch/robeert_laser.launch"/>
    <include file="$(find bw_rplidar)/launch/robeert_filters.launch"/>
    <include file="$(find bw_launcher)/launch/bw_launcher.launch"/>
    <include file="$(find bw_waypoints)/launch/bw_waypoints.launch"/>
    <include if="$(arg use_kalman)" file="$(find bw_kalman)/launch/bw_kalman.launch"/>

    <arg name="map_name" default="$(env ROS_MAP_NAME)"/>
    <include file="$(find bw_laser_slam)/launch/bw_laser_slam.launch">
        <arg name="mode" value="localize"/>
        <!-- <arg name="mode" value="idle"/> -->
        <arg name="map_name" value="$(arg map_name)"/>
    </include>
</launch>
