<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find bw_description)/launch/bw_description.launch"/>
    <include file="$(find bw_tunnel)/launch/bw_tunnel.launch"/>
    <include file="$(find bw_load_cell)/launch/bw_load_cell.launch"/>
    <include file="$(find bw_rplidar)/launch/robeert_laser.launch"/>
    <include file="$(find bw_zed)/launch/zed2.launch"/>
    <!-- <include file="$(find bw_move_base)/launch/bw_move_base.launch"/> -->

    <arg name="map_name" default="$(env ROS_MAP_NAME)"/>
    <include file="$(find bw_laser_slam)/launch/bw_laser_slam.launch">
        <arg name="mode" value="localize"/>
        <!-- <arg name="mode" value="idle"/> -->
        <arg name="map_name" value="$(arg map_name)"/>
    </include>
</launch>
