<launch>
    <arg name="map_name" default="$(env ROS_MAP_NAME)" />

    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
        <arg name="address" value="0.0.0.0" />
    </include>

    <include file="$(find bw_description)/launch/bw_description.launch" />
    <include file="$(find bw_rplidar)/launch/robeert_filters.launch" />
    <include file="$(find bw_tunnel)/launch/twist_mux.launch" />
    <include file="$(find bw_joystick)/launch/bw_joystick.launch">
        <arg name="device" value="/dev/input/js0" />
    </include>
    <include file="$(find bw_description)/launch/imu_joint.launch">
        <arg name="combine_with_odom" value="true" />
    </include>
    <include file="$(find bw_move_base)/launch/bw_move_base.launch" />
    <include file="$(find bw_behaviors)/launch/bw_behaviors.launch" />
    <include file="$(find bw_waypoints)/launch/bw_waypoints.launch">
        <arg name="waypoints_path" value="$(find bw_waypoints)/waypoints/$(arg map_name)" />
    </include>
    <include file="$(find bw_dispensers)/launch/bw_dispensers.launch">
        <arg name="simulated" value="true" />
    </include>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bw_viz)/rviz/standard.rviz" /> -->

    <node pkg="tf" type="static_transform_publisher" name="imu_tf"
        args="0.0 0.0 0.0  0 0 0 1 camera_link zed2_imu_link 20" />

    <include file="$(find bw_laser_slam)/launch/bw_laser_slam.launch">
        <arg name="mode" value="localize" />
        <!-- <arg name="mode" value="mapping"/> -->
        <!-- <arg name="mode" value="idle"/> -->
        <arg name="map_name" value="$(arg map_name)" />
    </include>
</launch>