<launch>
    <arg name="model" default="$(find bw_description)/urdf/robeert.urdf.xml"/>
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam param="source_list" subst_value="True">
    [
        "/bw/joint_states",
    ]
    </rosparam>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group ns="bw" >
        <node name="bw_description" pkg="bw_description" type="bw_description_node" output="screen">
            <rosparam param="joint_names" file="$(find bw_description)/config/robeert_joints.yaml" command="load"/>
        </node>
    </group>

    <include file="$(find bw_description)/launch/imu_joint.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_tilt" args="0.2032 0.0 0.254  0 0 0 1 base_tilt_link camera_tilt_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_tilt_link_to_laser" args="-0.0553 0.116 0.253  0 0 1 0 base_tilt_link laser 20" />
</launch>
