<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="bw_description" type="bw_imu_joint" name="camera_imu_joint" output="screen" required="false">
        <param name="base_parent_frame" value="base_link"/>
        <param name="base_child_frame" value="base_tilt_link"/>
        <param name="publish_rate" value="10.0"/>
        <remap from="camera_imu" to="/zed/imu/data"/>
    </node>
    
    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="camera_imu_filter">
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="fixed_frame" value="camera_tilt_base_link"/>
        <param name="use_mag" value="false"/>
        <param name="use_magnetic_field_msg" value="false"/>
        <remap from="imu/data_raw" to="/zed/imu/data_raw"/>
        <remap from="imu/data" to="/zed/imu/data_filtered"/>
    </node> -->
</launch>
