<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_drive_calibration" output="screen" 
       args="record -o /root/bags/drive_calibration
            /bw/odom
            /bw/odom/filtered
            /bw/ping
            /bw/cmd_vel
            /bw/joint/base_link_to_module_1_joint
            /bw/joint/base_link_to_module_2_joint
            /bw/joint/base_link_to_module_3_joint
            /bw/joint/base_link_to_module_4_joint
            /bw/module/1
            /bw/module/2
            /bw/module/3
            /bw/module/4
            /drive_calibration/tag_odom
            /drive_calibration/amcl_odom
            /bw/go_to_pose/cancel
            /bw/go_to_pose/goal
            /bw/go_to_pose/result
        " />
</launch>
